{{ define "yield"}}
    <h1>FAQ section</h1>
        <p>
            So far we are just starting so if you have any questions please email us to:
            <a href = "mailto:support@lenselocked.com">
            support@lenslocked.com
            </a>.
        </p>
{{ end }}